doctype html
html
    head
        title= "Bertrand Junqua - Front-end developper"
        link(rel="stylesheet" href="/css/style.css")
        //-script(src="//127.0.0.1:35729/livereload.js?snipver=1")
        script(src="/socket.io/socket.io.js")
        script(src="/js/libs/jquery-2.1.4.min.js")
