include ./includes/head.jade

body
    h1 Welcome on my portfolio.
    a.get-content(href="/page/sass", data-target="sass") Voir la page SASS
    a.get-content(href="/page/nodejs", data-target="nodejs") Voir la page NodeJS
    include ./includes/footer.jade
